@media (max-width: 620.99px) {
  .container {
    padding: 15px;
  }
  nav .nav_logo h1 {
    font-size: 30px;
  }
  /* hero part starts */
  .hero .hero_content h1 {
    font-size: 35px;
  }
  .hero .hero_content p {
    font-size: 13px;
  }
  .hero .hero_content a {
    font-size: 16px;
    padding: 15px 20px;
  }
  /* hero part ends */

  /* features part starts */
  #features .feature {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #features .features_cnt {
    width: 100%;
    margin-top: 30px;
  }
  #features .features_img {
    grid-template-columns: 1fr;
  }
  #features .features_img img {
    width: 90%;
  }
  /* features part ends */

  /* advance_features part starts */
  #advance_features .advance_feature {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  #advance_features .advance_features_cnt {
    grid-template-columns: 1fr;
    align-items: center;
    grid-row-gap: 20px;
  }
  #advance_features .advance_feature .experience h1 {
    font-size: 30px;
  }
  #advance_features .advance_feature .experience p {
    font-size: 16px;
  }
  #advance_features .advance_feature .experience {
    padding: 32px 28px;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
  }
  #advance_features .advance_feature .advance_features_img img{
  }

  /* advance_features part ends */
}

/* ------------------------------- 
for tablet
------------------------------- */
@media (min-width: 621px) and (max-width: 991.99px) {
  /* features part starts */
  #features .feature {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  #features .features_cnt {
    width: 100%;
    margin-top: 30px;
  }
  #features .features_img {
    grid-template-columns: 1fr 1fr;
  }
  /* advance_features part */
  #advance_features .advance_feature .experience {
    display: none;
  }
}
