/* common css part starts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.common-heading {
  color: #131313;
  font-size: 60px;
  font-weight: 700;
}
.common-paragraph {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}
.common-button {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 20px 0 20px 0;
}
/* common css part ends */

/* header part starts */
header {
  background-color: #ff900e1a;
}
/* navigation part */
header nav .row {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
nav .nav_logo h1 {
  color: #131313;
  font-size: 40px;
  font-weight: 700;
}
nav .menu ul li {
  display: inline-block;
  margin-right: 50px;
}
nav .menu ul li a {
  display: inline-block;
  color: #5a5c5f;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
nav .menu .checkbtn {
  display: none;
}
nav .menu #check {
  display: none;
}
nav .menu ul li a.active,
nav .menu ul li a:hover {
  color: #ffffff;
  background-color: #ff900e;
  border-radius: 5px;
}
/* header part ends */

/* hero part starts */
#hero .hero {
  margin-top: 70px;
}
#hero .hero .row {
  justify-content: center;
}
.hero .hero_content {
  width: 550px;
  text-align: center;
}
.hero .hero_content h1 {
  font-size: 60px;
}
.hero .hero_img {
  margin: 50px 0 30px 0;
}
.hero .hero_img img {
  width: 100%;
  height: 100%;
}
/* hero part ends */

/* features part starts */
#features {
  margin: 90px 0;
}
#features .feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 50px;
}
#features .features_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
#features .features_cnt {
  max-width: 470px;
}
#features .features_cnt h2 {
  color: #131313;
  font-weight: 700;
  font-size: 40px;
}
#features .features_cnt h2 span {
  color: #727272;
  font-weight: 500;
}
#features .features_cnt h2 small {
  color: #ff900e;
}
/* features part ends */

/* advance_features part starts */
#advance_features .advance_feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
  position: relative;
}
#advance_features .advance_features_cnt {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-row-gap: 20px;
}
.advance_features_cnt .advance_features_heading h1 {
  font-size: 40px;
  max-width: 420px;
  border-left: 5px solid #ff900e;
  padding-left: 8px;
}
.advance_features_cnt .advance_features_card {
  box-shadow: 0px 0px 36px -25px rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
}
.advance_features_cnt .advance_features_card h4 {
  font-size: 18px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 15px;
}
.advance_features_cnt .advance_features_card p {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 26px;
}
#advance_features .advance_features_img img {
  width: 100%;
}
#advance_features .advance_feature .experience {
  position: absolute;
  background-color: #ff900e;
  padding: 36px 32px;
  border-radius: 5px;
  text-align: center;
  bottom: 22px;
  left: 48%;
}
#advance_features .advance_feature .experience h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
}
#advance_features .advance_feature .experience span {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
}
/* advance_features part ends */

/* some_facts part starts */
#some_facts {
  margin: 90px 0;
}
#some_facts .facts_heading {
  max-width: 545px;
  margin-bottom: 50px;
}
#some_facts .facts_heading h1 {
  font-size: 40px;
}
#some_facts .facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-items: center;
}
#some_facts .facts .facts_box {
  border: 1px solid #ff900e;
  border-radius: 8px;
  height: 170px;
  width: 170px;
  transition: transform 0.9s ease-in-out;
}
#some_facts .facts .facts_box img {
  margin-top: 15px;
}
#some_facts .facts .facts_box h3 {
  color: #424242;
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0;
}
#some_facts .facts .facts_box p {
  color: #727272;
  font-size: 16px;
  font-weight: 600;
}
#some_facts .facts .facts_box:hover {
  transform: rotateX(360deg) scale(1.2);
}
/* some_facts part ends */

/* our_sponsors part starts */
#our_sponsors .sponsors_heading {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
#our_sponsors .sponsors_heading h1 {
  font-size: 40px;
}
#our_sponsors .sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
#our_sponsors .sponsors img {
  filter: grayscale(100%);
  transition: all 0.7s ease-in-out;
}
#our_sponsors .sponsors img:hover {
  transform: rotate(360deg) scale(1.2);
}
/* our_sponsors part ends */

/* contact form part starts */
#contact_form {
  height: 510px;
  background-color: rgba(255, 144, 14, 0.1);
  color: #7e8287;
  padding-top: 30px;
  margin-top: 90px;
}
#contact_form .form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
#contact_form .input_field,
#contact_form .message {
  margin: 0px auto 30px;
  text-align: center;
}
#contact_form .input_field input {
  width: 400px;
  height: 60px;
  border: none;
  border-bottom: 1px solid #5a5c5f;
  outline: none;
  background-color: transparent;
  color: #424242;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
#contact_form .message label {
  display: block;
  margin-top: 30px;
}
#contact_form .message textarea {
  width: 800px;
  height: 100px;
  border: none;
  border-bottom: 1px solid #5a5c5f;
  border-top: 1px solid #5a5c5f;
  outline: none;
  background-color: transparent;
  color: #424242;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  resize: none;
}
#contact_form .submit_btn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
}
#contact_form .submit_btn button {
  width: 100%;
  height: 100%;
  background-color: #ff900e;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 20px 0 20px 0;
  outline: none;
  border: none;
}
/* contact form part ends */

/* footer part starts */
footer {
  background-color: rgba(255, 144, 14, 0.1);
  text-align: center;
  padding-bottom: 50px;
}
footer p {
  color: #5a5c5f;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 20px;
}
/* footer part ends */
